* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0px;
    font-family: 'segoe ui';
  }
  
  /*navbar start*/
  .nav {
    z-index: 2;
    height: 60px;
    width: 100%;
    background-color: #458eac;
    position: fixed;
  }
  
  .nav > .nav-header {
    display: inline;
  }
  
  .nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 25px;
    color: #fff;
    padding: 10px 10px 10px 10px;
  }
  
  .nav > .nav-btn {
    display: none;
  }
  
  .nav > .nav-links {
    display: inline;
    float: right;
    font-size: 24px;
  }
  
  .nav > .nav-links > a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #efefef;
  }
  
  .nav > .nav-links > a:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
  
  .nav > #nav-check {
    display: none;
  }
  
/*navbar end*/

/*----------------------------------------------*/
/*-------------Basic Formate Start--------------*/
/*----------------------------------------------*/
/* Center website */
.main {
  max-width: 1000px;
  margin: auto;
}


.row1 {
  margin: 8px -16px;
}

/* Add padding BETWEEN each column */
.row1,
.row1 > .column1 {
  padding: 8px;
}

/* Create four equal columns that floats next to each other */
.column1{
  float: left;
  width: 25%;
}

/* Clear floats after rows */ 
.row1:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content1 {
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  height: 400px;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
  .column1 {
    width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column1 {
    width: 100%;
  }
}

/*----------------------------------------------*/
/*-------------Basic Formate Ends--------------*/
/*----------------------------------------------*/

/* Home Start*/
.img1{
  height: 800px;
  width: 100%;
}
#a1{
  background-image: url(Images/Img2.jpg);
  background-size: cover;
  display: flex;
  text-align: center;
}

.b1{
  position: relative;
  float: left; 
}
.b12{
  height: 550px;
  width: 550px;
  margin-top: 130px;
  margin-bottom: 80px;
  margin-left: 160px;
  border-radius: 50%;
  box-shadow: 3px 3px 6px black, 0 0 25px rgb(0, 166, 255), 0 0 5px darkblue;;
}
.b2{
  position: relative;
  float: right; 
  margin: 150px;
  margin-top: 200px;
}
.b2 p{
  font-size: 30px;
}
.b2 p img{
  height: 40px;
  margin-bottom: -10px;
}

.b21{
  font-size: 35px;
  color: #2599c8;
}
.typ{
  color: #2599c8;
}
/* Home End*/

/*Education Start*/
#a4{
  background-image: url(Images/Img9.png);
  background-size: cover;
  display: grid;
}

#a4 .E1{
  font-size: 60px;
  position:static;
  top:5%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: black;
  background-color: rgb(207, 249, 211);
  border-radius: 20px;
  padding-right: 20px;
  border: solid 5px #212121;
  box-shadow: 6px 6px #72c46c ;
  width: 600px;
}

#a4 .E1 img{
height: 90px;
margin-bottom: -20px;
}

#a4 .E2{
  top: 50px;
  margin: 25px;
  margin-bottom: 130px;
}

/*Education End*/

/* Project start*/
#a5{
  background-image: url(Images/Img8.png);
  background-size: cover;
  display: grid;
}

#a5 .P1{
  font-size: 60px;
  position:static;
  top:5%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: black;
  background-color: rgb(239, 207, 249);
  border-radius: 20px;
  padding-right: 20px;
  border: solid 5px #212121;
  box-shadow: 6px 6px #b076d1 ;
  width: 600px;
}

#a5 .P1 img{
height: 90px;
margin-bottom: -20px;
}

#a5 .P2{
  top: 50px;
  margin: 25px;
  margin-bottom: 130px;
}

/* Project end*/

/*Work Exp Start*/
#a7{
  background-image: url(Images/Img11.jpg);
  background-size: cover;
  display: grid;
}
#a7 .W1{
  font-size: 60px;
  position:static;
  top:5%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: black;
  background-color: rgb(249, 207, 207);
  border-radius: 20px;
  padding-right: 20px;
  border: solid 5px #212121;
  box-shadow: 6px 6px #d17676 ;
  width: 600px;
}

#a7 .W1 img{
height: 90px;
margin-bottom: -30px;
}

#a7 .W2{
  top: 50px;
  margin: 25px;
  margin-bottom: 130px;
}
/*Work Exp End*/

  #myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
  }



/*Responsive Start*/
@media (max-width:600px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 60px;
    height: 60px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
  .b12{
    height: 300px;
    width: 300px;
    margin-top: 100px;
    margin-bottom: 30px;
    margin-left: 60px;
    border-radius: 50%;
    box-shadow: 3px 3px 6px black, 0 0 25px rgb(0, 166, 255), 0 0 5px darkblue;;
  }
  #a1{
    display: block;
    padding-bottom: 100px;
  }
  .b1{
    float: none;
    margin-left: 10px;
    margin-right: auto;
  }
  .b2{
    float: none;
    margin: 60px ;
    margin-bottom: 0px;
    margin-top: auto;
  }
  .b2 p{
    font-size: 20px;
  }
  .b2 p img{
    height: 30px;
    margin-bottom: -10px;
  }
  
  .b21{
    font-size: 25px;
    color: #2599c8;
  }

  #a5 .P1,#a4 .E1,#a7 .W1{
    width: 350px;
    font-size: 50px;
  }
  #a5 .P2,#a4 .E2,#a7 .W2{
    margin-bottom: 80px;
  }

}

/*Responsive End*/